sim_experiment_force_0.0to3.0N_step0.1N_single_test50_stretch_000pct.h5 filter=lfs diff=lfs merge=lfs -text
sim_experiment_force_0.0to3.0N_step0.1N_single_test50_stretch_010pct.h5 filter=lfs diff=lfs merge=lfs -text
sim_experiment_force_0.0to3.0N_step0.1N_single_test50_stretch_020pct.h5 filter=lfs diff=lfs merge=lfs -text
